# Postgres
POSTGRES_USER=fleet
POSTGRES_PASSWORD=fleet_dev_pw
POSTGRES_DB=fleet
# Keycloak admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
# MinIO
MINIO_ROOT_USER=fleet
MINIO_ROOT_PASSWORD=fleet_dev_pw
# Langfuse
LANGFUSE_SALT=changeme_dev_salt
NEXTAUTH_SECRET=changeme_dev_secret
# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
